<main class="container">
    <div class="brandContainer">
        <img class="pageTitle" src="../../../../assets/img/AESLogos/AESLogo.png" alt="">
        <p class="pageSlogan">Making a huge community! 😉</p>
    </div>
    <div class="logContainer">
        <form action="" class="logIn">
            <div class="inputs">
                <input class="input email" type="text" name="email" id="email" placeholder="Email">
                <input class="input pass" type="password" name="pass" id="pass" placeholder="Password">
            </div>
            <hr class="separator"/>
            <div class="buttons">
                <button type="submit" class="btn">Log in</button>
                <button class="btn">Create an account</button>
            </div>
        </form>
    </div>
</main>
