<main class="container">
    <div class="brandContainer">
        <img class="pageTitle" src="../../../../assets/img/AESLogos/AESLogo.png" alt="">
        <p class="pageSlogan">Making a huge community! 😉</p>
    </div>
    <div class="logContainer">
        <form action="" class="logIn" [formGroup]="signInForm"> 
            <div class="inputs">
                <input class="input email" type="text" name="email" placeholder="Email" formControlName="email">
                <input class="input pass" type="password" name="pass" placeholder="Password" formControlName="password">
            </div>
            <hr class="separator"/>
            <div class="buttons">
                <div class="submitError" *ngIf="status == 'error'">
                    <p>Something went wrong. Check if all the fields are correct</p>
                </div>
                <button type="submit" (click)="onSubmit()" class="btn">Log in</button>
                <button routerLink="/signUp" routerLinkActive="active" class="btn">Create an account</button>
            </div>
        </form>
    </div>
</main>