<main class="container">
    <div class="userInfo">
        <div class="box">
            <img class="userPhoto" src="../../../../assets/img/IMGPrueba.png" alt="">
            <div class="profileHeader">
                <p class="username">{{identity.username}}</p>
                <p class="friendsCounter">0</p>
            </div>
            <hr class="separator" *ngIf="((userModel.bio !== undefined && userModel.bio !== '') || userModel.birth !== undefined)"/>
            <div class="profileInfo" *ngIf="((userModel.bio !== undefined && userModel.bio !== '') || userModel.birth !== undefined)">
                <p class="biography" *ngIf="(userModel.bio !== undefined && userModel.bio !== '')">{{userModel.bio}}</p>
                <p class="birthDate" *ngIf="(userModel.birth !== undefined)">{{getBirth()}}</p>
            </div>
        </div>
    </div>
    <div class="profilePosts">
        <div class="posts">
            <app-post-box *ngFor="let post of posts" [post]="post"></app-post-box>
            <button class="btn btn-primary" (click)="loadMore()" *ngIf="!noMorePosts">Load more</button>
        </div>
    </div>
</main>
