<main class="container">
    <div class="userInfo">
        <div class="box">
            <img class="userPhoto" src="../../../../assets/img/IMGPrueba.png" alt="">
            <div class="profileHeader">
                <p class="username">{{identity.username}}</p>
                <p class="friendsCounter">0</p>
            </div>
            <hr class="separator"/>
            <div class="profileInfo">
                <p class="biography">Bio</p>
                <p class="birthDate">Birth</p>
            </div>
        </div>
    </div>
    <div class="profilePosts">
        <div class="posts">
            <app-post-box *ngFor="let post of posts" [post]="post"></app-post-box>
            <button class="btn btn-primary" (click)="loadMore()" *ngIf="!noMorePosts">Load more</button>
        </div>
    </div>
</main>
