<main class="container">
    <div class="userInfo">
        <div class="box">
            <img class="userPhoto" src="../../../../assets/img/IMGPrueba.png" alt="">
            <div class="profileHeader">
                <p class="username">Adje Reeves</p>
                <p class="friendsCounter">696969</p>
            </div>
            <hr class="separator"/>
            <div class="profileInfo">
                <p class="biography">Bio</p>
                <p class="birthDate">Birth</p>
            </div>
            <hr class="separator"/>
            <div class="AAAAAA">
                Altres
            </div>
        </div>
    </div>
    <div class="profilePosts">
        <app-post-box></app-post-box>
        <app-post-box></app-post-box>
        <app-post-box></app-post-box>
    </div>
</main>
