$lightBlue: #5bd1ff;
$blue: #008cff;
$darkBlue: #00599f;
$red: #d00202;
$white: #ffffff;
$lightGray: #efefef;
$gray: #e0e0e0;
$darkGray: #666666;
$pink: #ff0070;
$green: #00c065;
$orange: #ff6900;

@font-face {
    font-family: "Product Sans";
    src: local(Fonts\ProductSansRegular);
}

* {
    font-family: Product Sans;
    outline: none;
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: $white;
}
::-webkit-scrollbar-thumb {
    background: $blue;
    border-radius: 6px;
    border: 3px solid $white;
    &:hover {
        background: $darkBlue;
    }
}
::placeholder {
    color: $darkGray;
}
.btn {
    border: 0;
    align-items: center;
    justify-content: center;
    height: 40px;
    transition: all .3s ease;
    cursor: pointer;
    border-radius: 10px;
    min-width: 50px;
}
.input {
    margin: 0 10px;
    background-color: $white;
    border: 3px solid transparent;
    transition: all .3s ease;
    height: 34px;
    &:focus {
        border: 3px solid $darkBlue;
    }
}
.btn,
.input {
    padding: 0 11px;
}
.label,
.btn,
.input {
    font-size: 16px;
}

.container {
    overflow-x: hidden;
    overflow-y: scroll;
    height: calc(100vh - 50px);
    .profileBio {
        max-width: 600px;
        margin: 0 auto;
        border-radius: 10px;
        background: $lightGray;
        padding: 10px 0 0 0;
        p {
            width: calc(100% - 44px);
            margin: 0 12px;
            padding: 12px;
        }
        .bio {
            background: $white;
            border-radius: 10px;
            border: none;
            margin: 0 auto ;
        }
    }
}
