$lightBlue: #5bd1ff;
$blue: #008cff;
$darkBlue: #00599f;
$white: #ffffff;
$lightGray: #efefef;
$gray: #e0e0e0;
$darkGray: #666666;

* {
    font-family: Product Sans;
    outline: none;
    text-decoration: none;
}

.btn {
    border: 0;
    align-items: center;
    justify-content: center;
    height: 40px;
    transition: all .3s ease;
    cursor: pointer;
    border-radius: 10px;
    min-width: 50px;
}
.input {
    margin: 0 10px;
    background-color: $white;
    border: 3px solid transparent;
    transition: all .3s ease;
    height: 34px;
    &:focus {
        border: 3px solid $darkBlue;
    }
}
.btn,
.input {
    padding: 0 11px;
}
.label,
.btn,
.input {
    font-size: 16px;
}

.profileHeader {
    position: relative;
    background: $lightBlue;
    min-height: 211.49px;
    height: calc((100vw*1.7)/8 - 1px);
    width: 100vw;
    display: flex;
    justify-content: right;
    .userPhoto {
        border-radius: 50%;
        position: absolute;
        bottom: -75px;
        right: calc(50% - 110px);
        width: 200px;
        height: 200px;
        border: 10px solid $white;
    }
    .options {
        padding: 10px 20px;
        .btn {
            background: $blue;
            color: $white;
            &:hover {
                background: $darkBlue;
            }
        }
    }
}
.userBar {
    background: $lightGray;
    height: 80px;
    width: 100vw;
    display: flex;
    p {
        display: flex;
        margin: 0;
        align-items: center;
        font-size: 32px;
    }
    .userName {
        justify-content: right;
        width: calc(50% - 120px);
    }
    .friends {
        width: calc(50% - 120px);
        i {
            margin: 0 0 0 10px;
        }
    }
    .space {
        width: 240px;
    }
}
.userTabs {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $white;
    height: 80px;
    width: 100vw;
    .profileNav {
        display: flex;
        list-style: none;
        padding: 0;
        li {
            height: 30px;
            a {
                border-radius: 10px;
                padding: 10px;
                color: $blue;
                font-size: 20px;
                margin: 0 10px;
                transition: all .3s ease;
                &:hover {
                    background: $blue;
                    color: $white;
                }
                &.selected {
                    background: $blue;
                    color: $white;
                }
            }
        }
    }
}