<div class="profileHeader">
    <img class="userPhoto" src="../../../../assets/img/IMGPrueba.png" alt="">
    <div class="options">
        <button class="btn edit"><i class="fas fa-edit"></i>Edit</button>
        <button class="btn follow"><i class="fas fa-user-plus"></i>Follow</button>
    </div>
</div>
<div class="userBar">
    <p class="userName">Adje Reeves</p>
    <div class="space"></div>
    <p class="friends">696969 <i data-feather="users" class="icon"></i></p>
</div>
<div class="userTabs">
    <ul class="profileNav">
        <li><a routerLink="/profile/posts" routerLinkActive="active" class="selected">Posts</a></li>
        <li><a routerLink="/profile/bio" routerLinkActive="active">Biography</a></li>
    </ul>
</div>