<div class="profileHeader">
    <img class="userPhoto" src="../../../../assets/img/IMGPrueba.png" alt="">
    <div class="options">
        <button class="btn follow" *ngIf="!isOwner" (click)="followUser()" [ngClass]="{'following': isFollowing}"><i class="fas fa-user-plus"></i>Follow</button>
    </div>
</div>
<div class="userBar">
    <p class="userName">{{userModel.username}}</p>
    <div class="space"></div>
    <p class="friends">0 <i data-feather="users" class="icon"></i></p>
</div>
<div class="userTabs">
    <ul class="profileNav">
        <li><a routerLink="/profile/{{userModel.username}}/posts" routerLinkActive="active" [ngClass]="{'selected': profilePage == 'posts'}">Posts</a></li>
        <li><a routerLink="/profile/{{userModel.username}}/bio" routerLinkActive="active" [ngClass]="{'selected': profilePage == 'bio'}">Biography</a></li>
        <li *ngIf="isOwner"><a routerLink="/profile/{{userModel.username}}/config" routerLinkActive="active" [ngClass]="{'selected': profilePage == 'config'}">Configuration</a></li>
    </ul>
</div>