<div class="commentBox">
    <div class="commentInfo">
        <img class="userPhoto"  src="../../../../assets/img/IMGPrueba.png" alt="">
        <p class="user">{{commentModel?.user.username}}</p>
        <p class="date">{{commentModel?.created_at}}</p>
    </div>
    <div class="comment">
        <div class="content">
            <p>{{commentModel?.content}}</p>
        </div>
        <div class="options">
            <button class="btn deletePost" *ngIf="isOwner"><p>Delete</p></button>        
        </div>
    </div>
</div>
