    <!-- User Activities & New Users -->
    <div class="row">
        <div class="col-lg-12 col-xl-6">
            <div class="card mb-30">
                <div class="card-body">
                    <div class="card-header">
                        <a href="#" class="btn btn-primary float-end">View all</a>
                        <h5 class="card-title">Activity</h5>
                    </div>

                    <div class="height-265">
                        <div class="timeline">
                            <div class="timeline-list">
                                <i class="icofont-check timeline-icon primary-color"></i>
                                <h6 class="mb-1 fs-15">Colin Firth</h6>
                                <p>Finished the project. Lorem ipsum dolor sit amet.</p>

                                <span class="fs-13 mt-2">
                                <i class="icofont-wall-clock"></i>
                                <span class="m-l-5">9:00 AM</span>
                            </span>
                            </div>

                            <div class="timeline-list">
                                <i class="icofont-check timeline-icon primary-color"></i>
                                <h6 class="mb-1 fs-15">Michael Sheen</h6>
                                <p>Great work!. Lorem ipsum dolor sit amet.</p>

                                <span class="fs-13 mt-2">
                                <i class="icofont-wall-clock"></i>
                                <span class="m-l-5">9:10 AM</span>
                            </span>
                            </div>

                            <div class="timeline-list">
                                <i class="icofont-check timeline-icon primary-color"></i>
                                <h6 class="mb-1 fs-15">Tom Hardy</h6>
                                <p>Hello Jems, Lorem ipsum dolor sit amet.</p>

                                <span class="fs-13 mt-2">
                                <i class="icofont-wall-clock"></i>
                                <span class="m-l-5">9:30 AM</span>
                            </span>
                            </div>

                            <div class="timeline-list">
                                <i class="icofont-check timeline-icon primary-color"></i>
                                <h6 class="mb-1 fs-15">Daniel Craig</h6>
                                <p>Finished the project, Lorem ipsum dolor sit amet.</p>
                                <span class="fs-13 mt-2">
                                <i class="icofont-wall-clock"></i>
                                <span class="m-l-5">10:30 AM</span>
                            </span>
                            </div>

                            <div class="timeline-list">
                                <i class="icofont-check timeline-icon primary-color"></i>
                                <h6 class="mb-1 fs-15">Michael Sheen</h6>
                                <p>Great work!. Lorem ipsum dolor sit amet.</p>

                                <span class="fs-13 mt-2">
                                <i class="icofont-wall-clock"></i>
                                <span class="m-l-5">9:10 AM</span>
                            </span>
                            </div>

                            <div class="timeline-list">
                                <i class="icofont-check timeline-icon primary-color"></i>
                                <h6 class="mb-1 fs-15">Colin Firth</h6>
                                <p>Finished the project. Lorem ipsum dolor sit amet.</p>

                                <span class="fs-13 mt-2">
                                <i class="icofont-wall-clock"></i>
                                <span class="m-l-5">9:00 AM</span>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="card-header">
                        <a href="#" class="btn btn-primary float-end">View all</a>
                        <h5 class="card-title">Upcoming Meeting</h5>
                    </div>

                    <div class="d-flex mb-20">
                        <div class="text-center">
                            <div class="avatar avatar-blue wh-50 rounded">
                            <span class="line-height-1 pt-12">
                                17 <br> <span class="fs-11">May</span>
                            </span>
                            </div>
                        </div>

                        <div class="ml-3">
                            <h6 class="mb-1 mt-1 fs-15">Project Meeting</h6>
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur.</p>
                        </div>
                    </div>

                    <div class="d-flex mb-20">
                        <div class="text-center">
                            <div class="avatar avatar-cyan wh-50 rounded">
                            <span class="line-height-1 pt-12">
                                20 <br> <span class="fs-11">May</span>
                            </span>
                            </div>
                        </div>

                        <div class="ml-3">
                            <h6 class="mb-1 mt-1 fs-15">Designer Discussion</h6>
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur.</p>
                        </div>
                    </div>

                    <div class="d-flex mb-20">
                        <div class="text-center">
                            <div class="avatar avatar-gold wh-50 rounded">
                            <span class="line-height-1 pt-12">
                                22 <br> <span class="fs-11">May</span>
                            </span>
                            </div>
                        </div>

                        <div class="ml-3">
                            <h6 class="mb-1 mt-1 fs-15">Development Discussion</h6>
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur.</p>
                        </div>
                    </div>

                    <div class="d-flex">
                        <div class="text-center">
                            <div class="avatar avatar-red wh-50 rounded">
                            <span class="line-height-1 pt-12">
                                25 <br> <span class="fs-11">May</span>
                            </span>
                            </div>
                        </div>

                        <div class="ml-3">
                            <h6 class="mb-0 mt-2 fs-15">Development Plan Discussion</h6>
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur.</p>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="card-header d-flex">
                        <h5 class="card-title w-50 float-left">New Users</h5>

                        <div class="dropdown card-dropdown text-end w-50 float-end dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i data-feather="settings" class="icon"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Add new user</a>
                                <a class="dropdown-item" href="&">View all users</a>
                            </div>
                        </div>
                    </div>

                    <div class="height-310">
                        <div class="table-responsive">
                            <table class="table m-0 text-vertical-middle">
                                <thead class="bort-none borpt-0">
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th class="text-center">Status</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>
                                            <img src="assets/img/user/1.jpg" alt="Image" class="wh-30 mr-1 rounded">
                                            Aaron Rossi
                                        </td>
                                        <td>aron@GrammarList.com</td>
                                        <td class="text-center">
                                            <span class="badge badge_warning">Pending</span>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-success mr-2" href="#" data-bs-toggle="tooltip" data-placement="top" title="Edit">
                                                <i data-feather="edit-2" class="icon wh-15 mt-minus-3"></i>
                                            </a>
                                            <a class="text-danger mr-2" href="#" data-bs-toggle="tooltip" data-placement="top" title="Delete">
                                                <i data-feather="x" class="icon wh-15 mt-minus-3"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="assets/img/user/2.jpg" alt="Image" class="wh-30 mr-1 rounded">
                                            Brad Joe
                                        </td>
                                        <td>brad.joe@gmail.com</td>
                                        <td class="text-center">
                                            <span class="badge badge_success">Active</span>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-success mr-2" href="#" data-bs-toggle="tooltip" data-placement="top" title="Edit">
                                                <i data-feather="edit-2" class="icon wh-15 mt-minus-3"></i>
                                            </a>
                                            <a class="text-danger mr-2" href="#" data-bs-toggle="tooltip" data-placement="top" title="Delete">
                                                <i data-feather="x" class="icon wh-15 mt-minus-3"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="assets/img/user/3.jpg" alt="Image" class="wh-30 mr-1 rounded">
                                            Mitch Petty
                                        </td>
                                        <td>mitch.petty@gmail.com</td>
                                        <td class="text-center">
                                            <span class="badge badge_warning">Not Active</span>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-success mr-2" href="#" data-bs-toggle="tooltip" data-placement="top" title="Edit">
                                                <i data-feather="edit-2" class="icon wh-15 mt-minus-3"></i>
                                            </a>
                                            <a class="text-danger mr-2" href="#" data-bs-toggle="tooltip" data-placement="top" title="Delete">
                                                <i data-feather="x" class="icon wh-15 mt-minus-3"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="assets/img/user/4.jpg" alt="Image" class="wh-30 mr-1 rounded">
                                            Petty Rossi
                                        </td>
                                        <td>petty.rossi@gmail.com</td>
                                        <td class="text-center"><span class="badge badge_warning">Pending</span></td>
                                        <td class="text-center">
                                            <a class="text-success mr-2" href="#" data-bs-toggle="tooltip" data-placement="top" title="Edit">
                                                <i data-feather="edit-2" class="icon wh-15 mt-minus-3"></i>
                                            </a>
                                            <a class="text-danger mr-2" href="#" data-bs-toggle="tooltip" data-placement="top" title="Delete">
                                                <i data-feather="x" class="icon wh-15 mt-minus-3"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="assets/img/user/5.jpg" alt="Image" class="wh-30 mr-1 rounded">
                                            Philip
                                        </td>
                                        <td>phili@gmail.com</td>
                                        <td class="text-center">
                                            <span class="badge badge_success">Active</span>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-success mr-2" href="#" data-bs-toggle="tooltip" data-placement="top" title="Edit">
                                                <i data-feather="edit-2" class="icon wh-15 mt-minus-3"></i>
                                            </a>
                                            <a class="text-danger mr-2" href="#" data-bs-toggle="tooltip" data-placement="top" title="Delete">
                                                <i data-feather="x" class="icon wh-15 mt-minus-3"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="assets/img/user/6.jpg" alt="Image" class="wh-30 mr-1 rounded">
                                            Nelms
                                        </td>
                                        <td>nelms@gmail.com</td>
                                        <td class="text-center">
                                            <span class="badge badge_success">Active</span>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-success mr-2" href="#" data-bs-toggle="tooltip" data-placement="top" title="Edit">
                                                <i data-feather="edit-2" class="icon wh-15 mt-minus-3"></i>
                                            </a>
                                            <a class="text-danger mr-2" href="#" data-bs-toggle="tooltip" data-placement="top" title="Delete">
                                                <i data-feather="x" class="icon wh-15 mt-minus-3"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


