<!-- Main Content Header -->
<div class="main-content-header">
    <h1>Gallery</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/dashboard-sales">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">
            <span class="active">Gallery</span>
        </li>
    </ol>
</div>
<!-- End Main Content Header -->

<!-- Gallery -->
<div class="gallery-content">
    <div class="row">
        <div class="col-lg-3 col-sm-4">
            <div class="single-image">
                <img data-original="assets/img/gallery/1.jpg" src="assets/img/gallery/1.jpg" alt="Gallery Image">
            </div>
        </div>
        <div class="col-lg-3 col-sm-4">
            <div class="single-image">
                <img data-original="assets/img/gallery/2.jpg" src="assets/img/gallery/2.jpg" alt="Gallery Image">
            </div>
        </div>
        <div class="col-lg-3 col-sm-4">
            <div class="single-image">
                <img data-original="assets/img/gallery/3.jpg" src="assets/img/gallery/3.jpg" alt="Gallery Image">
            </div>
        </div>
        <div class="col-lg-3 col-sm-4">
            <div class="single-image">
                <img data-original="assets/img/gallery/4.jpg" src="assets/img/gallery/4.jpg" alt="Gallery Image">
            </div>
        </div>
        <div class="col-lg-3 col-sm-4">
            <div class="single-image">
                <img data-original="assets/img/gallery/5.jpg" src="assets/img/gallery/5.jpg" alt="Gallery Image">
            </div>
        </div>
        <div class="col-lg-3 col-sm-4">
            <div class="single-image">
                <img data-original="assets/img/gallery/6.jpg" src="assets/img/gallery/6.jpg" alt="Gallery Image">
            </div>
        </div>
        <div class="col-lg-3 col-sm-4">
            <div class="single-image">
                <img data-original="assets/img/gallery/7.jpg" src="assets/img/gallery/7.jpg" alt="Gallery Image">
            </div>
        </div>
        <div class="col-lg-3 col-sm-4">
            <div class="single-image">
                <img data-original="assets/img/gallery/8.jpg" src="assets/img/gallery/8.jpg" alt="Gallery Image">
            </div>
        </div>
        <div class="col-lg-3 col-sm-4">
            <div class="single-image">
                <img data-original="assets/img/gallery/9.jpg" src="assets/img/gallery/9.jpg" alt="Gallery Image">
            </div>
        </div>
        <div class="col-lg-3 col-sm-4">
            <div class="single-image">
                <img data-original="assets/img/gallery/10.jpg" src="assets/img/gallery/10.jpg" alt="Gallery Image">
            </div>
        </div>
        <div class="col-lg-3 col-sm-4">
            <div class="single-image">
                <img data-original="assets/img/gallery/11.jpg" src="assets/img/gallery/11.jpg" alt="Gallery Image">
            </div>
        </div>
        <div class="col-lg-3 col-sm-4">
            <div class="single-image">
                <img data-original="assets/img/gallery/12.jpg" src="assets/img/gallery/12.jpg" alt="Gallery Image">
            </div>
        </div>
    </div>
</div>
<!-- End Gallery -->
