$lightBlue: #5bd1ff;
$blue: #008cff;
$darkBlue: #00599f;
$red: #d00202;
$white: #ffffff;
$lightGray: #efefef;
$gray: #e0e0e0;
$darkGray: #666666;

@font-face {
    font-family: "Product Sans";
    src: local(Fonts\ProductSansRegular);
}

* {
    font-family: Product Sans;
    outline: none;
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: $white;
}
::-webkit-scrollbar-thumb {
    background: $blue;
    border-radius: 6px;
    border: 3px solid $white;
    &:hover {
        background: $darkBlue;
    }
}
::placeholder {
    color: $darkGray;
}
.btn {
    border: 0;
    color: $white;
    align-items: center;
    justify-content: center;
    background-color: $blue;
    height: 40px;
    transition: all .3s ease;
    cursor: pointer;
    border-radius: 10px;
    min-width: 50px;
    grid-column: span 2;
}
.input {
    background-color: $white;
    border: 3px solid transparent;
    transition: all .3s ease;
    height: 34px;
    &:focus { 
        border: 3px solid $darkBlue;
    }
}
.textarea {
    resize: none;
    border-radius: 10px;
    border: none;
    padding: 12px;
    font-size: 16px;
    width: calc(100% - 44px);
    margin: 0 auto;
    background-color: $white;
}

.btn,
.input {
    padding: 0 11px;
}
.label,
.btn,
.input,
.textarea {
    font-size: 16px;
    border-radius: 10px;
}

.container {
    overflow-x: hidden;
    overflow-y: scroll;
    height: calc(100vh - 50px);
    .profileConfig {
        border-radius: 10px;
        background-color: $lightGray;
        margin: 0 auto;
        max-width: 600px;
    
        * {
            margin: 10px;
            border-radius: 10px;
        }
        
        .form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            max-width: 600px;
            margin: 0;

            .submitError {
                line-height: 25px;
                color: $white;
                background: $red;
                padding: 0 11px;
                font-size: 14px;
                margin: 4px 10px 10px;
                grid-column: span 2;

                ul {
                    padding: 0 0 0 20px;
                }
            }

            &.info {
                grid-template-columns: 1fr 1fr 1fr;
                .biography,
                .submitError,
                .btn{
                    width: 100;
                    grid-column: span 3;
                }
                .input {
                    max-width: 150px;
                }
            }
        }

        .separator {
            background-color: $gray;
            border: none;
            height: 3px;
            width: 92%;
            margin: 5px auto;
        }
    }
}
