<main class="container">
    <div class="list">
        <app-user-list *ngFor="let user of users" [user]="user" (userListEmitter)="clickUser($event)"></app-user-list>
    </div>
    <div class="box">
        <div class="user">
            <img class="userPhoto" src="../../../../assets/img/IMGPrueba.png" alt="" *ngIf="userModel !== undefined">
            <p class="username" *ngIf="userModel !== undefined">{{userModel.username}}</p>
        </div>
        <div class="conversation">
            <div *ngFor="let message of messages" [ngClass]="identity._id == message.user ? 'you' : 'another'" ><p>Hola</p></div>
        </div>
        <div class="messageInput">
            <textarea class="input message" name="" #content></textarea>
            <button class="btn send" (click)="onSubmit(content.value)">Send</button>
        </div>
    </div>
</main>
