<ng-container *ngIf="!(location == '/' || location == '/signUp' || location == '/signIn' || location == '/others/error-404')">
    <app-header></app-header>
    <div class="main-content d-flex flex-column hide-sidemenu">
        <router-outlet></router-outlet>
        <!--<app-footer></app-footer>-->
    </div>
</ng-container>

<ng-container *ngIf="(location == '/' || location == '/signUp' || location == '/signIn' || location == '/others/error-404')">
    <router-outlet></router-outlet>
</ng-container>
